$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin button-variant($color) {
  background-color: $color;
}

// Material colors palette
$red: #F44336 !default;
$pink: #E91E63 !default;
$purple: #9C27B0 !default;
$deeppurple: #673AB7 !default;
$indigo: #3F51B5 !default;
$lightblue: #03A9F4 !default;
$cyan: #00BCD4 !default;
$teal: #009688 !default;
$lightgreen: #8BC34A !default;
$lime: #CDDC39 !default;
$lightyellow: #FFEB3B !default;
$orange: #FF9800 !default;
$deeporange: #FF5722 !default;
$grey: #9E9E9E !default;
$bluegrey: #607D8B !default;
$brown: #795548 !default;
$lightgrey: #ECECEC !default;


.row {
  margin: 0px;
  display: inline;
}

.row p:first-child {
  float: left;
  text-align: center;
  display: inline !important;
  padding: 14px 0;
  width: 130px !important;
}

.btn-group a {
  width: 10px;
  padding: 12px 16px;
  text-align: center;
  border: 0px;
}

.btn-toolbar {
  margin-bottom: 1px;
}

.btn-group-vertical {
  width: 100%;
}
